@use "./typography" as *;
@use "../../styles/partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rowdies", Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
