@font-face {
  font-family: "Roboto-Mono";
  src: url("../../assets/fonts/RobotoMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Mono";
  src: url("../../assets/fonts/RobotoMono-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Mono";
  src: url("../../assets/fonts/RobotoMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rowdies";
  src: url("../../assets/fonts/Rowdies-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rowdies";
  src: url("../../assets/fonts/Rowdies-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rowdies";
  src: url("../../assets/fonts/Rowdies-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
