$max-width: 1020px;

$color-background-primary: #1a1243;
$color-text-primary: #161d12;
$color-background-secondary: #d2e8f6;
$color-recommendations-primary: #3e95b7;
$color-text-answer: #e0f3fb;

$ratingPercentage: 0;
