@use "../../styles/partials/variables" as *;

.searchbar {
  display: flex;
  justify-content: flex-end;
  margin: 0 5rem 0 0;

  &__search {
    padding: 1rem;
    border-radius: 2rem;
    width: 17.5rem;
    background-color: $color-background-secondary;
    border: 1px;
    font-size: 1rem;

    &::placeholder {
      color: $color-text-secondary;
    }
  }
}

.load {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;

  &__button {
    padding: 2rem;
    font-size: 2rem;
    color: #ffffff;
    width: 40%;
    background: linear-gradient(
      to right,
      $color-background-secondary,
      $color-text-primary
    );
    border-radius: 2rem;
    border: none;
  }
}
