@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.load {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;

  &__button {
    padding: 2rem;
    font-size: 2rem;
    color: white;
    width: 40%;
    background: linear-gradient(to right, #6430bd, #8ed2ff);
    border-radius: 2rem;
    border: none;
  }
}
