@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.load {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;

  &__button {
    padding: 1rem;
    width: 80%;
  }
}
