@use "../../styles/partials/variables" as *;

.overview-page {
  padding: 3rem 5rem;

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__img {
    width: 18rem;
    height: 27rem;
    border-radius: 2rem;
  }

  &__release-date {
    font-size: 1.5rem;
  }

  &__overview {
    font-size: 1.3rem;
  }

  &__icons {
    display: flex;
    flex-direction: row;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 0 0;
    border-radius: 10px;
  }

  &__info {
    font-size: 1.2rem;
  }

  &__rating-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__popcorn {
    width: 3rem;
  }
}
